.page-header
  %h1 Your Organizations
%ul.organizations.row.animated.fadeIn
  - organizations.each do |org|
    %li.span3
      %a{:href => "/#{org.login}", :title => org.login, 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'}
        %img.avatar{:src => org.avatar_url}
