!!!html5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title GitHub Leaderboard
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    %link{:href => '/assets/application.css', :rel => 'stylesheet'}
    %link{:rel => 'shortcut icon', :href => '/assets/favicon.ico'}
  %body
    %a{:href => 'https://github.com/ejholmes/leaderboard'}
      %img{:style => 'position: absolute; top: 0; right: 0; border: 0;', :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt => 'Fork me on GitHub'}
    .container
      .demo-headline
        .demo-logo
          GitHub Leaderboard

      = yield

    %footer

    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'}
    %script{:src => '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js'}
    %script{:src => '/assets/application.js'}
