@import bootstrap
@import flat-ui

ul.organizations,
ul.contributors
  list-style: none

ul.organizations li
  text-align: center

img.avatar
  border-radius: 5px

ul.leaders li
  padding: 20px
  background: #f9f9f3
  border-radius: 5px
  margin-bottom: 20px

ul.leaders li img.avatar
  margin-right: 20px

ul.leaders li h3
  display: inline-block

ul.leaders li h1
  display: inline-block
