<li class="row-fluid">
  <div class="span2">
    <img class="avatar" src="{{ author.avatar_url }}" />
  </div>
  <div class="span4">
    <h4><a href="#">{{ author.login }}</a></h4>
  </div>
  <div class="span6">
    <h2>{{ contributions }} Contributions</h2>
  </div>
</li>